
section {
  display: flex;
  flex-direction: column;
  background-color: #dfdfdf;
  gap: 20px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
  gap: 10px;
  text-align: center;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#articleOne {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
#articleOne div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: left;
  text-align: left;
}
#articleTwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-right: 20%;
  margin-left: 20%;
  gap: 50px;
}
#articleTwo img {
  display: flex;
  width: 100px;
  height: auto;
  margin: auto;
  justify-content: center;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  gap: 10px;
  text-align: center;
}
